.site-header {
  width: 100%;
  height: 64px;
  background: #fff;
  position: relative;
  z-index: 1000;
}

.header-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand img {
  height: 36px;
}

.brand-title {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  line-height: 1;
}

.tm-circle {
  padding: 1px;
  font-size: 9px;
  font-weight: 600;
  width: 14px;
  height: 13px;
  border: 1.5px solid #000;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000;
  position: relative;
  top: -6px;
}

.reg-circle {
  font-size: 10px;
  font-weight: 600;
  width: 16px;
  height: 16px;
  border: 1.5px solid #000;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000;
  position: relative;
  top: -5px;
}

.ncore .brand-title {
  color: #283D90FA;
  font-size: 18px;
  font-weight: 600;
}

.renil .brand-title {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  width: fit-content;
  position: relative;
  padding-bottom: 6px;
}

.nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #283d90;
  border-radius: 2px;
}

.nav a.active {
  color: #283d90;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: #000;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-btn {
    font-size: 22px;
    display: block;
  }

  .nav {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    display: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }

  .nav.open {
    display: flex;
  }
  .site-header{
    height: 46px;
  }

  .header-inner{
    padding: 0 10px;
  }
}